<!doctype html>

<!-- https://www.w3schools.com/angular/ Referenced for learning Angular JS
    https://www.youtube.com/watch?v=OPxeCiy0RdY Referenced to learn some examples
-->

<!-- Angular JS extends html attributes by directives -->
<!-- Lets bind module, say it "dummy-module" , it will be referenced in JS file -->
<!-- ***ng-app***   NG has no fullform , it is derived from aNGular (pay attention to upper case letters)
    It is a directive that tells Angular JS that this is a root element for JS application
    Angular JS applications must have a root element(element means tag). An HTML doc can have just one ng-app element(since it is
    a root element)
    It is normally put in html or body tag.
    HTML content insided ng-app can use Angular JS code.

    **************PS : If use more than 1 then only first one is used..**************

    This is set so that Angular JS knows where to start compiling code :) Interesting so far? Keep reading... :D

    ***ng-init***
    It is also a directive that initialize application data by assigning different values to variables

 -->
<html ng-app="dummy-module" ng-init="
                                      car = {brand: 'Honda', color: 'white'};
                                      laptops = [{brand: 'Dell', model: 'Inspiron', price:'$1000'},
                                                 {brand: 'HP', model:'Pavilion', price:'$1320'}]
                                    ">
  <head>
    <title> Angular JS Sample Programs </title>
  </head>

  <body>
    <h1> Hello, welcome to my Angular JS example  </h1>
    <!--  Loading the angular JS -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js">
    </script>

    <script src="Path to ... JS/Basics.js" type="text/javascript"></script>

    <!--
          Lets add controller to our body, it will be our view
          div element will be treated as our view and all elements in it too
    -->
    <div ng-controller="controller1">

        <span>Values: </span>
        <input type="text" ng-model="first" />
        <input type="text" ng-model="second" />

        <button ng-click="updateValue()">Multiply us </button>

        <br/>
        <br/>
        <p> {{calculation}} </p>

        <h4>Showing user inputs:</h4>
        <!-- Expression bind data directly to HTML model -->
        <p> First value is {{first}} </p>

        <!-- Another way to bind data to html elements-->
        <p>
          Second value is <span data-ng-bind="second"></span>
        </p>

        <!-- Using information of ng-init, we can build string in expressions -->
        <!-- Getting just one  -->
        <h4> Data of ng-init having variable with just one value </h4>
        <p>
          {{car.brand + " car of color " + car.color}}
        </p>

        <!-- Using ng-init to cycle through all elements of array-->
        <!-- If you are aware of java programming then it is like for each loop -->
        <h4> Iterating all items from list: </h4>
        <ul>
          <li ng-repeat="currLaptop in laptops">
            {{"laptop brand " + currLaptop.brand + " with model "
               + currLaptop.model + " costs " + currLaptop.price
            }}
          </li>
        </ul>

    </div>
</html>
